name: .NET

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            10.0.x
          dotnet-quality: ga

      - name: Restore tests
        run: dotnet restore ./tests/BenchmarkDotNet.ReportColumns.Tests.csproj

      - name: Build tests
        run: dotnet build ./tests/BenchmarkDotNet.ReportColumns.Tests.csproj -c Release --no-restore

      - name: Test
        run: dotnet test ./tests/BenchmarkDotNet.ReportColumns.Tests.csproj -c Release --no-build --verbosity normal
